Source: vyatta-accel-ppp
Section: contrib/net
Priority: extra
Maintainer: Cesar Fazan <cesar.fazan@gmail.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5), autotools-dev, autoconf

Package: vyatta-accel-ppp
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-cfg,
 vyatta-op,
 ${misc:Depends}
Replaces: vyatta-accel-ppp
Description: Vyatta package for accel-ppp services
